body {
    margin: 0;
    font-family: Arial, sans-serif; 
}

#topo{
    background-color: dodgerblue;
    margin: 0;
    padding: 10px;
}

a{
    margin: 8px;
    border: 1px solid white;
    padding: 6px;
    background-color: lightskyblue;
    color: white;
    border-radius: 7px;
    text-decoration: none;
}
a:hover {
    background-color: white; /* Inverte o fundo para branco */
    color: lightskyblue;       /* Texto fica azul */
    border: 1px solid dodgerblue;
}

#area-banner{
    background-color: purple;
}

#banner{
    width: 1000px;
    margin: auto;
}

#produtos{
    border: 1px;
    width: 1000px;
    margin: auto;
}