body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cabecalho{
    background-color: #c5e3fe;
    border-bottom: 1px solid black;
    top: 0;
    left: 0;
    right: 0;

    position: fixed;
}

.container{
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem 0;
}

ul#menu{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 475px;
    float: right;
}

ul#menu li a{
    display: block;
    text-decoration: none;
    float:left;
    color: black;
    padding: 0.5rem;
}

ul#menu li.destaque a{
    color: white;
    background-color: black;
    border-radius: 1rem;
}

ul#menu a:hover{
    color: #4c799f;
}

ul#menu li.destaque a:hover{
    color: #c5e3fe;
}

#destaque{
    background-color: #c5e3fe;
    border-bottom: 1px solid black;
    margin-top: 4.6rem;
}

#area-destaque{
    width: 55%;
}

.fundo-destaque{
    background: url(../img/fundo-topo.png) no-repeat right bottom;
    background-size: 22rem;
}

h1{
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
    letter-spacing: -0.1rem;
}

#destaque button{
    display: block;
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    padding: 0.8rem 1.5rem;
    background-color: white;
}