body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cabecalho{
    background-color: #c5e3fe;
    border-bottom: 1px solid black;
}

.container{
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem 0;
}

ul#menu{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 475px;
    float: right;
}

ul#menu li a{
    display: block;
    text-decoration: none;
    float:left;
    color: black;
    padding: 0.5rem;
}

ul#menu li.destaque a{
    color: white;
    background-color: black;
    border-radius: 1rem;
}

ul#menu a:hover{
    color: #4c799f;
}

ul#menu li.destaque a:hover{
    color: #c5e3fe;
}