body{
    margin: 0;
}

#topo{
    background-color: red;
}

#banner{
    width: 1000px;
    margin: auto;
}

.fundo-cinza{
    background-color: grey;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black
}